@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes text-scroll {
    from {
        background-position: right;
    }

    to {
        background-position: left;
    }
}

#text-scroll {
    background-image: linear-gradient(to right, #4ade80, #a5f3fc, #c4b5fd);
    background-repeat: repeat-y;
    background-size: 200% 90px;
    background-position: 0;
    animation: text-scroll linear forwards;
    animation-timeline: scroll(root block);
    animation-range: 0vh 200px;
}